:root {
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--text: rgb(232, 230, 227);
	--background: rgb(24, 24, 24);
	--primary: rgb(136, 199, 255);
	--primary-2: rgb(82, 126, 165);
	--primary-3: rgb(78, 156, 224);
	--grey: rgb(68, 68, 68);
	--grey-2: rgb(150, 150, 150);
	--grey-3: rgb(209, 209, 209);
	--grey-4: rgb(31, 31, 31);
	--red: rgb(227, 57, 109);
	--red-2: rgb(240, 88, 91);
	--green: rgb(46, 100, 70);
	--green-2: rgb(22, 183, 95);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	height: 100%;
	color-scheme: dark;
}
body {
	max-width: 60em;
	min-height: 100%;
	font-size: 16px;
	font-family: var(--font-family);
	color: var(--text);
	background-color: var(--background);
	margin: 0 auto;
	padding: 0.5em;
}
footer {
	font-size: 0.875em; /* 14px /16 */
	margin-top: 1em;
	border-top: 1px solid var(--grey);
	padding: 1em 0 0;
	font-style: italic;
}
:link,
:visited {
	color: var(--primary);
	text-decoration: underline;
	text-decoration-color: var(--primary-2);
}
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important; /* Fix for https://github.com/twbs/bootstrap/issues/25686 */
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
input,
button {
	font-size: inherit;
}
button {
	border-radius: 0.2em; /* 4px /20 */
}

/* Flex lib */
.lo {
	/* The custom properties should not inherit from parent layouts */
	--lo-stackpoint: initial;
	--lo-margin-h: 0;
	--lo-margin-v: 0;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: calc(-1 * var(--lo-margin-v, 0));
	margin-left: calc(-1 * var(--lo-margin-h, 0));
}
.lo-c {
	/* if a margin is in play, account for this in our stackpoint calculations */
	/* notably this will also work if a stackpoint is not used. */
	--lo-margin-mod: calc( var(--lo-stackpoint, -1 * var(--lo-margin-h, 0px)) - var(--lo-stackpoint, 0px) + var(--lo-margin-h, 0px) );
	--lo-stackpoint-calc: calc( ( var(--lo-stackpoint, 100%) - 100% + var(--lo-margin-mod, 0px) ) * 999);

	flex-grow: 1;
	flex-basis: var(--lo-basis, var(--lo-stackpoint-calc, auto));
	margin: 0;
	margin-top: var(--lo-margin-v, 0);
	margin-left: var(--lo-margin-h, 0);
}
.lo-inline > .lo-c {
	flex-grow: 0;
}

.lo-cols {
	column-gap: 10vw;
	column-width: var(--lo-basis, 20em);
}
.lo-cols .tweet {
	break-inside: avoid;
}

/* Page level stuff */
.tweets-title {
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.6875; /* 27px /16 */
	font-weight: 600;
	margin: 0;
	margin-right: 1.5em;
}
.tweets-title :link,
.tweets-title :visited {
	color: var(--text);
}
.tweets-nav {
	display: inline-block;
	padding: 0;
	margin: 0;
	line-height: 1.6875; /* 27px /16 */
}
.tweets-nav li {
	display: inline-block;
	margin-left: 0.75em;
}
@media (min-width: 48em) { /* 768px */
	.tweets-nav {
		float: right;
	}
}
.tweets-primary-count {
	font-size: 4em;
	margin: 0.75em 0 0.5em;
	padding: 0 0 0.75em;
	text-align: center;
	border-bottom: 2px solid var(--grey);
	font-weight: 400;
}
.tweets-primary-count-num {
	font-weight: 900;
}

/* Tweet list */
.tweets {
	max-width: 40em;
	margin: 2em auto 4em;
	padding: 0;
}
.tweets .tweets-replies {
	padding-left: 1em;
	border-left: 2px solid var(--grey-3);
	margin-left: -0.75em;
}
.tweets .tweets-replies:empty {
	display: none;
}
.tweets-section-title {
	font-size: 2em;
	text-align: center;
}
.tweets-section-title :link,
.tweets-section-title :visited {
	color: var(--text);
}
/* Used on tweet-pages only */
.tweets-thread {
	margin-top: 15vh;
	margin-bottom: 15vh;
}
.tweets-linear-list .tweet {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--grey);
}

/* Individual tweet */
.is_retweet .tweet-text {
	opacity: 0.6;
	font-style: italic;
}
.tweet-text {
	white-space: pre-wrap;
	line-height: 1.4;
	word-break: break-word;
}
.tweet-url {
	word-break: break-word;
	hyphens: none;
}
.tweet-username {
	font-weight: 500;
}
.tweet-username,
.tweet-username:visited {
	color: inherit;
	font-size: 0.95em; /* 21px /22 */
}
.tweet-pretext {
	display: block;
	font-style: italic;
	font-size: 1rem; /* 16px /16 */
	padding: 0 0 0.4em;
}
.tweet-pretext,
.tweet-pretext:visited {
	color: var(--grey-2);
}
.tweet-metadata {
	display: block;
	margin-top: 0.5em;
}
.tweet-metadata,
.tweet-metadata :link,
.tweet-metadata :visited {
	color: var(--grey-2);
}

/* Individual tweet */
.tweet {
	font-size: 1.375em; /* 22px /16 */
	margin: 0 0 3.5rem;
	padding: 0;
	list-style: none;
}
.tweet-next .tweet-text,
.tweet-previous .tweet-text {
	color: var(--grey-2);
}
.tweet-next .tag-favorite,
.tweet-next .tag-retweet,
.tweet-previous .tag-favorite,
.tweet-previous .tag-retweet {
	opacity: 0.5;
}

/* Avatar */
.tweet-avatar {
	width: 27px;
	height: 27px;
	border-radius: 50%;
}
h1 .tweet-avatar {
	vertical-align: text-bottom;
	margin-right: 0.375em;
}

/* Tweet Media */
.tweet-medias {
	display: flex;
	margin: 1em 0;
	max-height: 10em;
	gap: 0.5em;
	justify-content: center;
}
.tweet-medias > a {
	display: block;
	flex-basis: 12em;
	flex-grow: 0.5;
}
.tweet-media {
	border-radius: 0.25em;
	box-shadow: 0 0px 18px 3px var(--grey-4);
}
img.tweet-media {
	display: block;
	width: 100%;
	height: 100%;
	border: 2px solid var(--grey-4);
}
video.tweet-media {
	max-width: 100%;
	width: auto;
	max-height: 10em;
}
.tweet-media-load-error {
	display: block;
	border-top: 1px dashed;
	margin: 0.5em 0;
	padding-top: 0.5em;
	color: var(--grey);
}
a[href]:focus .tweet-media-load-error,
a[href]:hover .tweet-media-load-error {
	color: var(--grey-2);
}
@supports (object-fit: cover) {
	.tweet-media {
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
}
@supports (object-fit: contain) {
	video.tweet-media {
		object-fit: contain;
	}
}
.tweet-previous .tweet-medias,
.tweet-next .tweet-medias {
	max-height: 6em;
}
.tweet-previous .tweet-media,
.tweet-next .tweet-media {
	opacity: 0.7;
	max-height: 6em;
	max-width: 12em;
}
.tweet-media:hover {
	border-color: var(--primary-2);
}
.tweet-previous .tweet-media:hover,
.tweet-next .tweet-media:hover {
	opacity: 1;
}
/* OpenGraph images */
img.tweet-media-og {
	object-position: center;
}

/* Tags */
.tag {
	display: inline-block;
	font-size: 0.9rem;
	margin: 0 0 0 0.2em;
	padding: 0.5em;
	height: 27px;
	white-space: nowrap;
	text-decoration: none;
	background-color: var(--grey);
	color: var(--text);
	border: 1px solid var(--grey);
	border-radius: 0.4em;
	font-weight: 600;
	vertical-align: text-bottom;
	line-height: 1;
}
.tweet-metadata .tag:link,
.tweet-metadata .tag:visited {
	color: var(--text);
}
.tag-lite {
	border-color: transparent;
	padding-left: 0.5em;
	font-weight: 400;
}
.tag-icon {
	border: none;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0.6em;
	overflow: hidden;
}
.tag-avatar {
	padding: 0 0.2em 0 0;
}
.tag-naked {
	background-color: var(--background);
	color: var(--grey-2);
}
.tweet-metadata .tag-naked:link,
.tweet-metadata .tag-naked:visited {
	color: var(--grey-2);
}
.tag:first-child,
.tag + .tag {
	margin-left: 0;
}
.tag-favorite {
	background-color: var(--red);
	border-color: var(--red-2);
}
.tag-retweet {
	background-color: var(--green);
	border-color: var(--green-2);
}
.tag-lite.tag-favorite,
.tag-lite.tag-retweet {
	background-color: var(--background);
	border-color: transparent;
	font-weight: inherit;
}
.tag-lite.tag-favorite {
	color: var(--red-2);
}
.tag-lite.tag-retweet {
	color: var(--green-2);
}

/* Search form */
.tweets-search {
	margin: 0 auto 1.25em;
	max-width: 40rem; /* 640px /16 */
}
.pagefind-ui {
	width: 100%;
}
.pagefind-ui__form {
	position: relative;
}
.pagefind-ui__form:before {
	background-color: var(--text);
	width: 18px;
	height: 18px;
	top: 15px;
	left: 15px;
	content: "";
	position: absolute;
	display: block;
	opacity: 0.7;
	mask-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z' fill='%23000000'/%3E%3C/svg%3E%0A");
	mask-size: 100%;
	z-index: 9;
	pointer-events: none;
}
.pagefind-ui__search-input {
	height: 3rem;
	padding: 0 0 0 2.75rem;
	background-color: var(--grey-4);
	border: 1px solid var(--grey);
	border-radius: 0.4em;
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	font-weight: 700;
}
.pagefind-ui__search-input::placeholder {
	opacity: 0.5;
}
.pagefind-ui__drawer {
	gap: 3.75rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 3.125rem;
	margin-bottom: 3.125rem;
	border-bottom: solid 2px var(--grey);
}
.pagefind-ui__hidden {
	display: none;
}
.pagefind-ui__results-area {
	min-width: min(25rem, 100%);
	flex: 1000;
	margin-top: 1.25rem;
}
.pagefind-ui__results {
	padding: 0;
	margin: 0;
}
.pagefind-ui__message {
	box-sizing: content-box;
	font-size: 0.925em;
	display: flex;
	align-items: center;
	font-weight: 700;
	margin-top: 0;
}
.pagefind-ui__button {
	margin: 1.75em 0;
	border: 1px solid var(--grey);
	border-radius: 0.4em;
	height: 3em;
	padding: 0 0.75em;
	color: var(--grey-3);
	background: var(--grey-4);
	width: 100%;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
}
.pagefind-ui__button:hover {
	border-color: var(--grey-2);
}
.pagefind-ui__result {
	list-style-type: none;
	display: flex;
	align-items: flex-start;
	gap: min(2.5rem, 3%);
	padding: 1.5rem 0;
	border-bottom: solid 1px var(--grey);
}
.pagefind-ui__result-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.pagefind-ui__result-title {
	display: inline-block;
	font-weight: 700;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
}
.pagefind-ui__result-excerpt {
	display: inline-block;
	font-weight: 400;
	color: var(--grey-2);
	line-height: 1.4;
	margin: 0.25rem 0 0;
	min-width: 15.625rem;
}
.pagefind-ui__loading {
	color: var(--grey-3);
	background-color: var(--grey-3);
	border-radius: 0.4em;
	opacity: 0.1;
	pointer-events: none;
}